body {
  font-family: 'Open Sans',sans-serif;
  font-size: 19px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.75);
}

header {
  margin-bottom: 40px;
}

.profile-header {
  padding: 45px 0;
}

.profile-header h1 {
  font-size: 40px;
}

.profile-header p {
  font-size: 20px;
  color: rgba(0,0,0,.45);
}

.profile-avatar {
  float: right;
}

.copyright {
  text-align: center;
}
