---
layout: default
---

<!-- Page Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="profile-header">
          <img class="profile-avatar img-responsive img-circle" src="https://avatars0.githubusercontent.com/u/1125847?v=3&s=150" alt="Luan smiling at Recife Antigo">
          <h1>Luan Reis</h1>
          <p>Full-Stack Developer and Consultant at ThoughtWorks</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      Hello World!
    </div>
  </div>
</div>

<hr>
